* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: tu dal;
}
/*------------------------------------------------------------------------------------------------------------------------
Styling for the about section 
-------------------------------------------------------------------------------------------------------------------------*/
#about{
  background: #f2f2f2d3;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
}


.img-holder {
  flex: 1;
  max-width: 400px;
  margin-right: 20px;
}


.about-img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}


.caption {
  flex: 1;
  max-width: 700px;
}


.subtitle {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}


.title {
  font-size: 32px;
  color: #333;
  margin-bottom: 15px;
}


.caption p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 30px;
}


.Damload.Resume {
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  padding: 12px 30px;
  border-radius: 50px;
  cursor: pointer;
}

.Damload.Resume:hover {
  background-color: transparent;
  color: #007bff;
  border: 2px solid #007bff;
  padding: 10px 30px;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .img-holder {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .caption {
    max-width: 100%;
  }
}

/*----------------heading-----------------------*/
.ED-H {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HA {
  font-size: 6rem;
  text-transform: uppercase;
  color: white;
  -webkit-text-stroke: 1px #dee2e6;
}

.HB {
  font-size: 40px;
  position: absolute;
  text-transform: uppercase;
  color: #007bff;
}

.Hc {
  font-size: 6rem;
  text-transform: uppercase;
  color: white;
  -webkit-text-stroke: 1px #dee2e6;
}

@media (max-width: 768px) {

  .HA {
    font-size: 4rem;
  }

  .HB {
    font-size: 25px;
    margin-top: 10px;
  }

  .Hc {
    font-size: 2rem;
  }
}
/*----------------------Heading------------------*/
.Education {
  width: 30%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.card-header {
  padding: 10px;
  background-color: #f2f2f2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.card-header h4 {
  font-size: 24px;
  margin-bottom: 5px;
}


.card-header .line {
  display: block;
  width: 50px;
  height: 2px;
  margin-bottom: 10px;
}


.card-body {
  padding: 15px;
  background: #ececeb;
}


.card-body h6 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
}


.card-body p {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
}


.card-body .subtitle {
  font-size: 14px;
  color: #555;
  margin-top: 0;
  margin-bottom: 15px;
}


.card-body hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 15px 0;
}


@media (max-width: 768px) {

  .Education {
    width: 90%;
    margin: 10px;

  }

  .card-header h4 {
    font-size: 20px;

  }

  .card-header .line {
    width: 30px;

  }

  .card-body h6 {
    font-size: 14px;
  }

  .card-body p {
    font-size: 12px;
  }

  .card-body .subtitle {
    font-size: 12px;
  }
}

#skills {
  padding: 20px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skill {
  flex-basis: 23%;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.skill h3 {
  margin-bottom: 10px;
}

.skill ul {
  list-style: none;
  padding: 0;
}

.skill li {
  margin-bottom: 5px;
}


.certificate {
  margin-top: 20px;
}

.certificate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

swiper-container {
  width: 420px;
  height: 280px;
  margin: 20px;
}

swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

swiper-slide img {
  width: 100%;
  height: 100%;

}

swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

@media (max-width: 768px) {
  swiper-container {
    width: 290px;
    height: 180px;
    margin: 10px;
  }
  .certificate {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  swiper-container {
    width: 250px;
    height: 180px;
  }

}
